@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

header {
    height: 60px;
    width: 100vw;
    padding: 0 25px;
    background-color: #091b29;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
        .myname {
            font-size: xx-large;
        }
    }

    .right-side {
        display: flex;
        width: 380px;
        justify-content: space-between;
        
        a {
            padding: 10px;
            white-space: nowrap;
            font-size: 16px;
        }

        a:Hover {
            color: #007eaa;
        }
    }
}

main {
    height: 80vh;
    width: 100vw;
    background-color: #091b29;
}

footer {
    height: 60px;
    width: 100vw;
    padding: 0 25px;
    background-color: #044966;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
        display: flex;
        justify-content: space-between;
        width: 400px;

        a {
            border-radius: 5px;
            padding: 5px;
            font-size: 16px;
            white-space: nowrap;
        }

        a:Hover {
            background-color: #0a7cad;
        }
    }

    .right-side {
        display: flex;
        justify-content: space-between;
        width: 300px;

        p {
            font-size: 16px;
            white-space: nowrap;
        }
    }
}