@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

/* div {
    border: 2px solid red;
} */

.left-side, .right-side {
    margin: 0 25px;
}

html, body {
    height: 100%;
    min-width: fit-content;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 8%;
    min-height: 50px;
    width: 100%;
    background-color: #091b29;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.4s;

    & .left-side {
        & .myname {
            font-size: 36px;
            cursor: default;
            transition: font-size 1s ease-out;
        }

        & .myname:hover {
            font-size: 38px;
        }
    }

    & .right-side {
        display: flex;
        flex-wrap: nowrap;
        
        & a {
            padding: 10px;
            border-radius: 5px;
            white-space: nowrap;
            font-size: 16px;
            transition: color 0.1s, font-size 0.1s;
        }

        & a:hover {
            color: #007eaa;
            font-size: 17px;
        }

        & a:active {
            color: white;
            font-size: 15px;
        }
    }
}

header:hover {
    background-color: #071520;
}

main {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 100%;
    flex: 1;
    background-color: #091b29;

    & .myself {
        background-color: #0d2a3d;
        object-fit: contain;
        border-radius: 10px;
        margin: auto 5%;
        min-width: 200px;
        max-width: 20%;
        max-height: 90%;
    }

    & .introduction {
        flex: 1;
        min-width: 328px;
        margin: auto 5%;

        & .greet {
            font-size: 20px;
            color: #aaaaaa;
        }

        & .name {
            font-size: 50px;
            font-weight: bold;
        }

        & .role {
            font-size: 20px;
            color: #00bbc2;
        }

        & .description {
            font-size: 16px;
            color: #aaaaaa;
            margin: 20px 0;
        }

        & .buttons {
            & .works_button {
                transition: background-color 0.2s;
                margin: 0 10px 0 0;
                background-color: #00bbc2;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                padding: 10px 30px;
                cursor: pointer;
            }
            
            & .works_button:hover {
                background-color: #009ca1;
            }

            & .contact_button {
                transition: border 0.1s, padding 0.1s;
                background-color: #091b29;
                border: 1px solid #444444;
                border-radius: 5px;
                font-size: 16px;
                padding: 9px 30px;
                cursor: pointer;
            }

            & .contact_button:hover {
                border: 2px solid #ffffff;
                padding: 8px 30px;
            }
        }
    }
}

@media screen and (max-width: 604px) {

}

footer {
    display: flex;
    height: 8%;
    min-height: 50px;
    width: 100%;
    background-color: #044966;
    justify-content: space-between;
    align-items: center;

    & .left-side {
        display: flex;
        align-items: center;
        height: 80%;

        & a {
            border-radius: 5%;
            padding: 5px;
            margin: 0 1px;
            height: 100%;
            transition: background-color 0.2s, border-radius 0.1s, height 0.1s, transform 0.1s, border 0.1s;

            & img {
                height: 100%;
                white-space: nowrap;
            }
        }

        & a:hover {
            background-color: #0a7cad;
            transform: rotate(15deg);
            border-radius: 50%;
            height: 100;
        }

        & a:active {
            border: 3px solid white;
            height: 90%;
        }
    }

    & .right-side {
        display: flex;
        height: 80%;
        align-items: center;

        & span {
            padding: 0 10px;
            text-align: center;
            font-size: 16px;
            transition: font-size 1s ease-out;
            cursor: default;
        }

        & span:hover {
            font-size: 17px;
        }
    }
}
